<div class="media">
   <div class="media-body">
     <h4><p><%= item.name %>
     <%= link_to "", user_item_path(@user, item.id), method: :delete, class: 'glyphicon glyphicon-ok' %> </p></h4>
   </div>
 </div>
